$base-color: hsla(200, 3%, 67%, 1);
$main-color: hsla(43, 78%, 53%, 1);
$acsent-color: hsla(6, 100%, 50%, 1);

$white       : scale-color($base-color, $lightness: 100%);
$white-1     : scale-color($base-color, $lightness: 99%);
$white-2     : scale-color($base-color, $lightness: 95%);
$white-3     : scale-color($base-color, $lightness: 85%);
$white-4     : scale-color($base-color, $lightness: 70%);
$white-5     : scale-color($base-color, $lightness: 39%);
$grey        : scale-color($base-color, $lightness: 0%);
$black-1     : scale-color($base-color, $lightness: -15%);
$black-2     : scale-color($base-color, $lightness: -30%);
$black-3     : scale-color($base-color, $lightness: -57%);
$black-4     : scale-color($base-color, $lightness: -70%);
$black-5     : scale-color($base-color, $lightness: -85%);
$black       : scale-color($base-color, $lightness: -100%);
//================MAIN COLOR===================
$c-main-1    : scale-color($main-color, $lightness: 90%);
$c-main-2    : scale-color($main-color, $lightness: 70%);
$c-main-3    : scale-color($main-color, $lightness: 39%);
$main        : scale-color($main-color, $lightness: 0%);
$c-main-4    : scale-color($main-color, $lightness: -20%);
$c-main-5    : scale-color($main-color, $lightness: -40%);
$c-main-6    : scale-color($main-color, $lightness: -60%);
//==================ACSENT=====================
$c-acsent-1  : scale-color($acsent-color, $lightness: 75%);
$c-acsent-2  : scale-color($acsent-color, $lightness: 45%);
$c-acsent    : scale-color($acsent-color, $lightness: 0%);
$c-acsent-3  : scale-color($acsent-color, $lightness: -40%);
$c-acsent-4  : scale-color($acsent-color, $lightness: -60%);

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: url("http://friday.danferth.com/assets/images/leatherBG.png")
    repeat;
  box-shadow: inset 0 0 10vw 3vw rgba($black, 0.75);
}
.taco {
  width: 100%;
  height: 100%;
  position: relative;
}
.timer {
  width: 100%;
  text-align: center;
  position: absolute;
  background: url("http://friday.danferth.com/assets/images/mazeBG.png") repeat;
  box-shadow: inset 0 .5vw .5vw .15vw rgba($black, 0.25),
    inset 0 -.5vw .5vh .15vh rgba($black, 0.25);
  top: 30vh;
  left: 0;
  @media screen and(max-width:500px){
    top:10vh;
  }
}
.countdown {
  text-align:center;
  span {
    color: $black-5;
    text-shadow: 0 -1px 0 $black-3, 0 1px 0 $black,
      0 0 10px $black-5;
    font: 900 12vw/1.2 "Chivo", sans-serif;
    display: inline-block;
    // width: 220px;
    margin-right: 6vw;
    @media screen and(max-width:500px){
      display:block;
      margin-right:0;
      font-size:15vh;
      line-height:1;
    }
    &:last-child {
      margin-right: 0;
    }
    span {
      font: 400 2vw "Chivo", sans-serif;
      text-transform: uppercase;
      color: $black-3;
      text-shadow: 0 1px 0 $black;
      display: block;
      @media screen and(max-width:500px){
          font-size:3vh;
      }
    }
  }
}
.tag {
  margin: 2vw 0 1.5vw 0;
  padding: 0;
  font: 300 1vw "Chivo", sans-serif;
  color: rgba($white, .2);
  @media screen and(max-width:500px){
      font-size:1.5vh;
      margin:2vh 0;
  }
  i {
    margin-left:.25rem;
  }
}
